<div class="row">
  <div class="col-md-9">
    <p id="notice"><%= notice %></p>
    <h1>Tweets</h1>
    <% @tweets.each do |tweet| %>
    <div class="card">
      <div class="card-header">
        <%= tweet.title %>
      </div>
      <div class="card-body">
        <%= tweet.content %>
      </div>
      <div class="card-footer">
        <%= link_to 'Edit', edit_tweet_path(tweet), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </div>
    <br>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= render 'form', tweet: @new_tweet %>
  </div>
</div>
